@import 'nib'

// light colors
$grey         = #ecf0f1
$light-green  = #2ecc71
$light-grey   = #dfdfdf

// sizing
$switch-height = 30px
$switch-width  = $switch-height * 1.8
$switch-radius = $switch-height * (2 / 3)
$border-width  = 1px

// transitions
$transition-speed = .2s


input[type="checkbox"].switch
input[type="radio"].switch
  // hide the real input
  display none

  + label
    display inline-block
    box-sizing border-box
    position relative
    width $switch-width
    height $switch-height
    vertical-align middle

    background-color white
    border $border-width solid $light-grey
    border-radius $switch-radius
    cursor pointer
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)

    .js-switch-button
    .js-switch-background
    &:before
    &:after
      content ""
      height $switch-height - ($border-width * 2)
      width $switch-height - ($border-width * 2)

      background white
      border-radius $switch-height

      position absolute
      top 0
      left 0

    .js-switch-background
    &:before
      background-color $light-green
      box-shadow 0 0 0 1px transparent
      // Use transition delay to remove the green border only when it hits the minimum.
      transition width $transition-speed ease-in-out,
                 box-shadow 0s ease $transition-speed

    .js-switch-button
    &:after
      box-shadow 0 1px 3px rgba(0,0,0,.4)
      transition left $transition-speed ease-in-out

  &:checked + label
      .js-switch-background
      &:before
        box-shadow 0 0 0 1px $light-green
        width $switch-width - ($border-width * 2)
        // Removes the box-shadow transition so the green border is added right away.
        transition width $transition-speed ease-in-out

      .js-switch-button
      &:after
        left $switch-width - $switch-height

  &:checked + label
  + label
      // These rules apply when it's being dragged by a a touch.
      &.js-switch-active
        .js-switch-background
          box-shadow 0 0 0 1px $light-green
        .js-switch-background
        .js-switch-button
          transition none

      // Make sure there is no border if you're holding it at it's minimum.
      &.js-switch-active.js-switch-minimum
        .js-switch-background
          box-shadow none

  &:disabled
  &:disabled:checked
    + label
      cursor default
      border-color $grey

      &
      .js-switch-background
      &:before
        background-color $grey
        box-shadow none

  // js creates it's own elements that replaces the roles of :after and :before.
  &.js-switch + label
    &:after
    &:before
      display none


